<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>CRUD em JS</title>
</head>
<body>

<h2>Registros<h2>
    <table border="1">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Sobrenome</td>
                <td>Sexo</td>
                <td>Opção</td>
            </tr>
        </thead>
        <tbody>
        <% data.forEach(function(details) { %>
            <tr>
                <td><%= details.nome %></td>
                <td><%= details.sobrenome %></td>
                <td><%= details.sexo %></td>
                <td>
                    <a href="/edit/<%=details._id%>">Editar</a>
                    <a href="/remove/<%=details._id%>">Remover</a>
                </td>
            </tr>
            <% }) %>
        </tbody>
        <button><a href="/">Novo</a></button>
</body>
</html>