<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>CRUD em JS</title>
</head>

<body>
    <div class="container">
        <div class="col-md-8">
            <h1>Registros<h2>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Nome</td scope="col">
                                <th scope="col">Sobrenome</th'>
                                <th scope="col">Sexo</th>
                                <th scope="col">Opção</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.forEach(function(details) { %>
                            <tr>
                                <td><%= details.nome %></td>
                                <td><%= details.sobrenome %></td>
                                <td><%= details.sexo %></td>
                                <td class="opcoes">
                                    <div class="row">
                                        <a class="editar" href="/edit/<%=details._id%>">Editar</a> |
                                        <a  class="remover" href="/remove/<%=details._id%>">Remover</a>
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                        <br />
        </div>
        <div style="text-align: right;"> 
            <button type="submit" class="btn btn-danger">
                <a class="text-white" href="/">Novo</a>
            </button></div>
    </div>

    <style>
        body {
            background-color: #E5E6F0;
        }

        tr {
            font-size: 1.5rem;
        }

        tr:hover {
            background: #dc3545 ;
            color: #fff;
        }

        button {
            font-size: 1.5rem!important ;
            margin-bottom: 5px ;
        }

        .editar{
            text-decoration: none;
            color: rgb(10, 187, 84);
        }

        .remover {
            color: #4b1fc4;
        }

    </style>

</body>

</html>